body {
    background-color: #fafafa;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
  }
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    font-family: 'PT Serif';
}
.about-us {
    margin-left: auto;
    font-family: 'Poppins';
    font-size: 1rem;
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}
.photos {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6rem;
    font-family: 'Poppins';
}
.person > p{
    font-weight: 600;
}

@media (min-width: 768px){
    .container{
        max-width: 768px;
    }
    .photos > div:nth-child(3n+2) {
        padding-top: 6rem;
    }
}
@media (max-width:768px) {
    .container{
        padding:0;
        max-width: 480px;
    }
    .about-us {
        padding-top: 0.5rem;
        margin-left: 0;
      }
      header {
          display: block;
        }
    .photos {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
      .photos > div:nth-child(2n+0) {
        padding-top: 6rem;
    }
}
@media (max-width: 480px) {
    .container{
        max-width: 375px;
        width: 100%;
        margin: auto;
    }
    .photos > div:nth-child(2n) {
        padding-top: 6rem;
    }
}
@media (max-width: 375px){
    .container{
        max-width: 280px;
        width: 100%;
        margin:auto;
    }
    .photos > div:nth-child(2n+0) {
        padding-top: 6rem;
    }
}

.photo{
    display: flex;
}
img {
    width: 100%;
}

.designation {
    transform: rotate(90deg);
    margin-left: 1.5rem;
    transform-origin: top left;
    font-size: 0.8rem;
    white-space: nowrap;
    margin-top: -0.1rem;
    font-family: 'PT Serif';
}
footer {
    text-align: center;
    margin-top: 2rem;
    margin-top: 5rem;
    color: gray;
    font-family: "PT Serif";
    font-size: 14px;
  }